.left-bar {
  font-family: "Poppins", sans-serif;
  background: #eeeeee;
  width: 700px; }
  .left-bar input {
    margin: 10px; }
  .left-bar .left-bar-card {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 2px solid #6699aa; }
    .left-bar .left-bar-card img {
      border-radius: 7px;
      width: 75px;
      height: 75px;
      margin-right: 10px; }
