.login-form {
  color: #CFD8DC;
  font-family: "Inconsolata", monospace;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center; }
  .login-form .login-form-modal {
    position: relative;
    border: 1px solid #ECEFF1;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
    background: #263238; }
    .login-form .login-form-modal .login-form-modal-close {
      position: absolute;
      margin: 0 auto;
      left: 1;
      right: 0;
      bottom: 1;
      top: 0;
      padding: 10px 20px;
      font-size: 26px;
      cursor: pointer; }
    .login-form .login-form-modal h3 {
      margin: 0;
      padding-bottom: 50px;
      font-size: 23px; }
    .login-form .login-form-modal p {
      font-size: 18px; }
    .login-form .login-form-modal input {
      background: #CFD8DC;
      border: 2px solid #ECEFF1;
      border-radius: 3px;
      padding: 8px;
      font-size: 16px; }
    .login-form .login-form-modal button {
      margin-top: 40px;
      color: #CFD8DC;
      background: #263238;
      border-radius: 3px;
      border: 3px solid #CFD8DC;
      padding: 10px;
      font-size: 18px;
      cursor: pointer; }
