$fsz: 16px;

$colorDark: #222222;
$colorGray: #666666;
$colorLigth: #eeeeee;
$colorAccentLow: #6699aa;
$colorAccent: #55cccc;


// $colorAccentLow: #99aaaa;
// $colorAccent: #6699aa;

$ffSun:'Sunflower', sans-serif;
$ffLato:'Lato', sans-serif;
$ffPop:'Poppins', sans-serif;
$ffInco:'Inconsolata', monospace;
$ffLibr:'Libre Franklin', sans-serif;
