@import "const";

.left-bar{
  font-family: $ffPop;
  background: $colorLigth;
  width: 700px;
  input{
    margin: 10px;
  }
  .left-bar-card{
    display: flex;
    align-items: center;
    padding:5px 10px;
    border-bottom: 2px solid $colorAccentLow;
    img{
      border-radius: 7px;
      width: 75px;
      height: 75px;
      margin-right: 10px;
    }
  }
}
